################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/HGR/.vs/HGR.slnx/v18
/HGR/.vs/HGR.slnx/FileContentIndex
/HGR/HGR.Managed.Cu118.Package/lib
/HGR/HGR.Managed.Cu118.Package/runtimes/win-x64/native
/HGR/HGR.Native.Cu118/x64/Debug
/HGR/vcpkg_installed
/HGR/x64/Debug
