################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/HGR/.vs/HGR.slnx/v18
/HGR/.vs/HGR.slnx/FileContentIndex
/HGR/HGR.Managed.Cu118.Package/lib
/HGR/HGR.Managed.Cu118.Package/runtimes/win-x64/native
/HGR/HGR.Native.Cu118/x64/Debug
/HGR/vcpkg_installed
/HGR/x64/Debug
/HGR/HGR.Native.Cu118/x64/Release
/HGR/HGR.Native.Cu118.Package/build/native/bin/x64
/HGR/HGR.Native.Cu118.Package/build/native/include/hgr
/HGR/HGR.Native.Cu118.Package/build/native/lib/x64
/HGR/packages/Microsoft.ML.OnnxRuntime.Gpu.Windows.1.17.3/buildTransitive/native/include
/HGR/packages/Microsoft.ML.OnnxRuntime.Gpu.Windows.1.17.3
/HGR/x64/Release
/HGR/NativeTest/x64
